server:
  port: 8080

spring:
  application:
    name: votacao-api
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/votacao}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:postgres}
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
